<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN" "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <action id="org.heffsusb.writer.run">
    <description>Run Heff's USB Writer</description>
    <message>Authentication is required to run Heff's USB Writer</message>
    <icon_name>heffs-usb-writer</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/Heffs_USB_Writer/USBWriter.py</annotate>
  </action>
</policyconfig>